---
---

@import "{{ site.theme }}";

body {
  background-color: #f5f5f5;
  color: #454545;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  color: #393939;
}

.wrapper {
  width:1200px;
  margin:0 auto;
}

img {
  max-width:100%;
  margin-bottom: 30px;
}

header {
  width:360px;
  float:left;
  position:fixed;
  -webkit-font-smoothing:subpixel-antialiased;
}

section {
  width:840px;
  float:right;
  padding-bottom:10px;
}

footer {
  width:360px;
  float:left;
  position:fixed;
  bottom:10px;
  -webkit-font-smoothing:subpixel-antialiased;
}

.site-title {
  color: #393939;
}

.site-title a:hover, .site-title a:focus {
  color: #069;
}

.left-pane-title {
  margin-bottom: 10px;
}

@media print, screen and (max-width: 960px) {

  div.wrapper {
    width:auto;
    margin:0;
  }

  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }

  header {
    padding-right:320px;
  }

  section {
    border:1px solid #e5e5e5;
    border-width:1px 0;
    padding:20px 0;
    margin:0 0 20px;
  }

  header a small {
    display:inline;
  }

  header ul {
    position:absolute;
    right:50px;
    top:52px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }

  header {
    padding:0;
  }

  header ul, header p.view {
    position:static;
  }

  pre, code {
    word-wrap:normal;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding:15px;
  }

  .downloads {
    width:99%;
  }

  .downloads li, .downloads li + li + li {
    width:33%;
  }
}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}
