---
---

@import "{{ site.theme }}";

body {
  background-color: #f5f5f5;
  color: #454545;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  color: #333333;
}

.wrapper {
  width:960px;
  margin:0 auto;
}

img {
  max-width:100%;
  margin-bottom: 30px;
}

header {
  width:320px;
  float:left;
  position:fixed;
  -webkit-font-smoothing:subpixel-antialiased;
}

section {
  width:640px;
  float:right;
  padding-bottom:50px;
}

footer {
  width:320px;
  float:left;
  position:fixed;
  bottom:50px;
  -webkit-font-smoothing:subpixel-antialiased;
}

a.site-title {
  color: #333333;
}

.site-title a:hover, .site-title a:focus {
  color:#069;
}

.left-pane-title {
  margin-bottom: 10px;
}
